html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ui {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ui_items {
  position: inherit;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  width: 70%;
  height: 10%;
}

.ui_text {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #fbfbcc95, #fcc0bf95);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.ui_item {
  text-align: center;
}

.ui_title {
  font-weight: 400;
  display: block;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.ui_flash {
  position: inherit;
  top: 5%;
  right: 5%;
  width: 400px;
  height: 100px;
}

.ui_flash_title {
  font-size: 1.5rem;
  text-align: right;
  display: block;
  margin-bottom: 0.5rem;
}

.battery_wrap {
  border: 2px solid #f0f8ff95;
  width: 100%;
  height: 20px;
}

.battery {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ff8c8c95, #ffffff95);
}

.ui_main {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  background-color: #8181814f;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  padding: 2rem;
  color: #fdfdfdad;
  font-size: 1.5rem;
  text-align: center;
}

.ui_main.off {
  display: none;
}

.ui_main_title {
  margin: 0;
  font-size: 3rem;
}

.tip {
  font-weight: bold;
  display: block;
}

.ui_main_start {
  pointer-events: all;
  cursor: pointer;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  background: #679950;
  color: #3c3c3c;
  font-weight: bold;
  font-size: 1.5rem;
}

.ui_main_start:hover {
  transform: scale(1.1);
}
