html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.warning {
  color:#a22929;
  font-size: 2rem;
  font-weight: bold;
}

.warning_message {
  color: #a22929;
}

.ui {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ui_items {
  position: inherit;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  width: 70%;
  height: 10%;
}

.ui_text {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #fbfbcc95, #fcc0bf95);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 0.5rem;
}

.ui_item {
  text-align: center;
}

.ui_title {
  font-weight: 400;
  display: block;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.ui_flash, .ui_health {
  position: inherit;
  top: 5%;
  right: 5%;
  width: 400px;
  height: 100px;
}

.ui_health {
  top: 13%
}

.ui_flash_title, .ui_health_title {
  font-size: 1.5rem;
  text-align: right;
  display: block;
  margin-bottom: 0.5rem;
}

.battery_wrap, .health_wrap {
  border: 2px solid #f0f8ff95;
  width: 100%;
  height: 20px;
}

.battery, .health {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ff8c8c95, #ffffff95);
}

.health {
  background: linear-gradient(to right, #5aff5495, #ffffff95);
}

.ui_main, .ui_game_over, .ui_clear {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #8181814f;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  padding: 2rem 4rem;
  color: #fdfdfdad;
  font-size: 1.5rem;
  text-align: center;
}

.off {
  display: none;
}

.ui_main_title, .ui_game_over_title {
  margin: 0;
  font-size: 3rem;
}

.ui_game_over_title {
  color: #a22929
}

.tip {
  font-weight: bold;
  display: block;
}

.ui_main_start, .ui_game_over_start {
  pointer-events: all;
  cursor: pointer;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  background: #fff;
  color: #222;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.ui_clear_title {
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
}
